//- Parameters
//- user

extends ../layout.pug

block title
    | Sign In

block page_title
    br
    br
    | Sign In

block buttons
    a.btn.btn-info.mr-2(href='/auth/sign-up') Sign Up

block content
    .container.mb-4
        form.col-lg-6(method='post')
            .input-group.mb-2
                .input-group-prepend
                    span.input-group-text#username-addon Id
                input.form-control#username(name='id',
                                            type='text',
                                            aria-label='ID',
                                            aria-describedby='username-addon')
            .input-group.mb-2
                .input-group-prepend
                    span.input-group-text#password-addon Password
                input.form-control#password(name='password',
                                            type='password',
                                            aria-label='Password',
                                            aria-describedby='password-addon')
            .form-check.h3
                //- .input-group-prepend
                input#keepSignedIn.form-check-input.mt-2(name='keepSignedIn', type='checkbox', style='width:20px;height:20px;')
                label.form-check-label(for='keepSignedIn')
                    | 로그인 상태 유지
            input(type='hidden' name='_csrf' value=csrfToken)
            input#sign-in.btn.btn-primary(type='submit' value='Sign In')