extends ../layout.pug

block references
    link(rel='stylesheet',
             href='/styles/myScroll.css')
    script(src='/scripts/myScroll.js', defer)
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/chattingsockets.js', defer)
    script(type = 'text/javascript').
        const clientO = {
            id: '#{user.id}',
            nick: '#{user.nick}',
            channel: '#{channelId}'
        };
        const sendWithEnter = 1;
        //- const user = #{user};
        //- console.log('#{user.id}');
        //- console.log(#{user});


block content
    .container.mt-3
        .row
            .h3.col-5
                a(href='/channels') 목록으로
            .h4.col-7
                a.btn.btn-secondary(href=`/channels/members/${channelId}`) 멤버 목록
                a.btn.btn-secondary.float-right.text-right(href=`/channels/invite/${channelId}`) 친구 초대
            //- .h4.float-right.text-right
                
    .container.mt-3
        #botScroll.list-group.overflow-scroll
            each e in msglist
                span
                    .list-group-item.mb-0
                        if e.id == user.id
                            .text-danger.font-weight-bold.h5
                                | #{e.id}(#{e.nick}):
                        else
                            .text-info
                                | #{e.id}(#{e.nick}):
                        #pre-wrap
                            | #{e.msg}
                    span.float-right.text-right.mb-2.h6
                        | #{e.msg_date}에 전송됨
    
    .container.hidden-xs.hidden-sm.sticky
        h2.mb-4
            form(method='post' id='myPost')
                textarea.form-control(name='content', id = 'input_msg')
                input.btn.btn-primary.mr-5(type = 'submit', value = 'send', action="/#", id = 'sendchat')
                //-  action=`/channels/${channelId}`
