extends ../layout.pug

block content
    .container.mt-5
        form.form-inline.mb-5(method='post')
            input.form-control.col-8(name='channelName',
                type='text',
                placeholder = '채널 이름을 입력해주세요')
            input.btn.btn-primary(type = 'submit', value = '채널 생성')
        .list-group
            .mb-5
                | 참여 중인 채널 수: #{num}
            .row#channel-list
                each e in channelList
                    .row.mb-3.col-12(id=`C${e.id}`)
                        .list-group-item.col-11.h-100
                            a.h1(href=`/channels/${e.id}`) #{e.name}
                            | (읽지 않은 메시지: 
                            span(id=`C${e.id}unread`) #{e.unread}
                            | )
                            if e.unread == 0
                                span(id=`C${e.id}NEW`)
                            else
                                span.alert.alert-danger(id=`C${e.id}NEW`) NEW!
                                //- const newbox = document.getElementById(`C${id}NEW`);
                                //- if(!("alert" in newbox.classList)) newbox.className += ' alert alert-danger';
                                //- newbox.textContent = "NEW!";
                            .float-right
                                | 최근 업데이트
                                br
                                span.time-info(id=`C${e.id}time`) #{e.updatetime}
                        if e.creater == user.id
                            span.col-1.pb-0.pt-0
                                a.btn.btn-danger.w-100.h-50.text-center.pt-0.pb-0(href = `/channels/delete/${e.id}`) 삭제
                                //- need to change get --> delete
                        else 
                            span.col-1.pb-0.pt-0
                                a.btn.btn-warning.w-100.h-50.text-center.pt-0.pb-0(href = `/channels/quit/${e.id}`) 나감
                                //- need to change get --> delete


block scripts
    script(type='text/javascript').
        const clist = !{chan};
        const uid = "#{user.id}";

block references
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/channelsockets.js', defer)