extends ../layout.pug

block content
    .container.mt-5
        form.form-inline.mb-5(method='POST')
            input.form-control.col-8(name='channelName',
                type='text',
                placeholder = '채널 이름을 입력해주세요')
            input(type='hidden' name='_csrf' value=csrfToken)
            input.btn.btn-primary(type = 'submit', value = '채널 생성')
        .list-group
            .mb-5
                | 참여 중인 채널 수: #{num}
            .row#channel-list
                each e in JSON.parse(channelList)
                    .row.mb-3.col-12(id=`C${e.id}`)
                        .list-group-item.col-11.h-100
                            a.h1(href=`/channels/${e.id}`) #{e.name}
                            | (읽지 않은 메시지: 
                            span(id=`C${e.id}unread`) #{e.unread}
                            | )
                            if e.unread == 0
                                span(id=`C${e.id}NEW`)
                            else
                                span.alert.alert-danger(id=`C${e.id}NEW`) NEW!
                                //- const newbox = document.getElementById(`C${id}NEW`);
                                //- if(!("alert" in newbox.classList)) newbox.className += ' alert alert-danger';
                                //- newbox.textContent = "NEW!";
                            .float-right
                                | 최근 업데이트
                                br
                                span.time-info(id=`C${e.id}time`) #{e.update_time}
                        if e.creater == user.id
                            form.form-inline.float-right.col-1(method='POST' action=`/channels/${e.id}?_method=DELETE`)
                                input(type='hidden' name='_csrf' value=csrfToken)
                                input.btn.btn-danger(type='submit'
                                    id=`C${e.id}del`
                                    onclick='return confirm("정말 삭제하시겠습니까?");'
                                    value='삭제')
                        else 
                            form.form-inline.float-right.col-1(method='POST' action=`/channels/${e.id}?_method=PUT`)
                                input(type='hidden' name='_csrf' value=csrfToken)
                                input.btn.btn-warning(type='submit'
                                    id=`C${e.id}quit`
                                    onclick='return confirm("정말 나가시겠습니까?");'
                                    value='나감')


block scripts
    script(type='text/javascript').
        const clist = !{channelList};
        const uid = "#{user.id}";
        const csrfToken = "#{csrfToken}"

block references
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/channelsockets.js', defer)