extends ../layout.pug

block references
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/invitesockets.js', defer)

block content
    .container.mb-4.mt-3
        h3
            a(href = `/channels/${channelId}`) 채팅으로
        h5.mb-4
            .page-header.ml-4.mr-4.mt-4.mb-4
                .list-group-item
                    each e in JSON.parse(flist)
                        div.mb-4(id=`${e.id}`)
                            | #{e.id}(#{e.nick})
                            button.btn.btn-primary.float-right(href=`/channels/invite/${channelId}/${e.id}` id=`invite${e.id}`) 초대
                            //- need to change. get --> post
                            br
                            | #{e.friend_date}

block scripts
    script(type='text/javascript').
        const friends = !{flist};