extends ../layout.pug

block content
    .container.mb-4.mt-3
        h3
            a(href = `/channels/${channelId}`) 채팅으로
        h5.mb-4
            .page-header.ml-4.mr-4.mt-4.mb-4
                .list-group-item
                    | #{user.id}(#{user.nick})
                div.mb-4.mt-4
                .list-group-item
                    each e in JSON.parse(memberList)
                        div.mb-4
                            if e.id != user.id
                                | #{e.id}(#{e.nick})

                                form.form-inline.float-right(method='post')
                                    input(type='hidden' name='_csrf' value=csrfToken)
                                    input(type='hidden' name='targetid' value=`${e.id}`)
                                    input.btn.btn-primary.mr-1(type = 'submit'
                                            name = 'action'
                                            value = 'request'
                                            formaction='/social/requests'
                                            id=`request${e.id}`)
                                    input.btn.btn-primary(type = 'submit'
                                        name = 'action'
                                        value = 'black'
                                        formaction='/social/blacks'
                                        id=`black${e.id}`)
                                    script(type='text/javascript').
                                        if(!#{e.canRequest}) document.getElementById('request#{e.id}').className += ' disabled';
                                        if(!#{e.canBlack}) document.getElementById('black#{e.id}').className += ' disabled';
                                        