extends ../layout.pug

block content
    script(type='text/javascript').
    .container.mb-4.mt-3
        h3
            a(href = `/channels/${channelId}`) 채팅으로
        h5.mb-4
            .page-header.ml-4.mr-4.mt-4.mb-4
                .list-group-item
                    | #{user.id}(#{user.nick})
                div.mb-4.mt-4
                .list-group-item
                    each e in JSON.parse(memberList)
                        div.mb-4
                            if e.id != user.id
                                | #{e.id}(#{e.nick})
                                form.form-check.h3.form-check-inline.float-right.ml-1(method='post' action='/people')
                                    input(type='hidden' name='targetid' value=`${e.id}` style='width:0px;padding:0px;border:0px;margin:0px')
                                    input(type='hidden' name='_csrf' value=csrfToken)
                                    if e.canRequest
                                        input.btn.btn-primary.mr-1(type = 'submit',
                                                name = 'action',
                                                value = 'request', id=`req${e.id}`)
                                    else
                                        input.btn.btn-primary.mr-1(type = 'submit',
                                                name = 'action',
                                                value = 'request', id=`req${e.id}`, disabled)
                                    if e.canBlack
                                        input.btn.btn-primary(type = 'submit',
                                                name = 'action',
                                                value = 'black', id=`black${e.id}`)
                                    else
                                        input.btn.btn-primary.mr-1(type = 'submit',
                                                name = 'action',
                                                value = 'black', id=`black${e.id}`, disabled)
                                        