extends ../layout.pug

block content
    .container.mb-4
        .page-header.ml-4.mr-4.mt-4.mb-4
            h2.mb-4
                form(method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input.form-control(name='targetid',
                        type='text',
                        placeholder = '상대방의 id를 입력해주세요')
                    input.btn.btn-primary.mr-5(type = 'submit',
                            name = 'action',
                            value = 'request',
                            formaction='/social/requests')
                    input.btn.btn-primary.ml-5.float-right(type = 'submit',
                        name = 'action',
                        value = 'black',
                        formaction='/social/blacks')
            
    .container.mb-4
        .page-header.ml-4.mr-4.mt-4.mb-4
            h1.mb-5.text-warning
                |주의 사항: 아래는 id(닉네임)의 형태로 표시됩니다.
            h2.mb-2
                | 받은 요청 (#{counts.received})
            h5.mb-4
                .list-group-item
                    each e in reqreceived
                        div.mb-4
                            | #{e.sender_id}(#{e.sender_nick})
                            .float-right
                                a.btn.btn-primary.mr-2.ml-5(href=`/social/allow/${e.sender_id}`) 수락
                                //- need to change ???
                                a.btn.btn-primary(href=`/social/reject/${e.sender_id}`) 거절
                                //- need to change get --> delete
                            br
                            | #{e.req_time}
                        
            h2.mb-2
                |보낸 요청 (#{counts.sent})
            h5.mb-4
                .list-group-item
                    each e in reqsent
                        div.mb-4
                            | #{e.receiver_id}(#{e.receiver_nick})
                            .float-right
                                a.btn.btn-primary.mr-2.ml-5(href=`/social/cancel/${e.receiver_id}`) 취소
                                //- need to change get --> delete
                            br
                            | #{e.req_time}
            h2.mb-2
                |친구 목록 (#{counts.friends})
            h5.mb-4
                .list-group-item
                    each e in friendlist
                        div.mb-4
                            | #{e.id}(#{e.nick})
                            a.btn.btn-primary.ml-5.float-right(href=`/social/delete/${e.id}`) 삭제
                            //- need to change get --> delete
                            br
                            | #{e.friend_date}
            h2.mb-2
                |차단 목록 (#{counts.blacks})
            h5.mb-4
                .list-group-item
                    each e in blacklist
                        div.mb-4
                            | #{e.id}(#{e.nick}) 
                            a.btn.btn-primary.ml-5.float-right(href=`/social/unblack/${e.id}`) 삭제
                            //- need to change get --> delete
                            br
                            | #{e.black_date}
                            br