extends ../layout.pug

block content
    .container.mb-4
        .page-header.ml-4.mr-4.mt-4.mb-4
            h2.mb-4
                form(method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input.form-control(name='targetid'
                        type='text'
                        placeholder = '상대방의 id를 입력해주세요')
                    input.btn.btn-primary.mr-5(type = 'submit'
                            name = 'action'
                            value = 'request'
                            formaction='/social/requests')
                    input.btn.btn-primary.ml-5.float-right(type = 'submit'
                        name = 'action'
                        value = 'black'
                        formaction='/social/blacks')
            
    .container.mb-4
        .page-header.ml-4.mr-4.mt-4.mb-4
            h1.mb-5.text-warning
                |주의 사항: 아래는 id(닉네임)의 형태로 표시됩니다.
            h2.mb-2
                | 받은 요청 (#{counts.received})
            h5.mb-4
                .list-group-item
                    each e in reqreceived
                        div.mb-4
                            | #{e.sender_id}(#{e.sender_nick})
                            span.float-right.form-inline
                                form(method='post' action='/social/friends').mr-2
                                    input(type='hidden' name='uid' value=e.sender_id)
                                    input(type='hidden' name='_csrf' value=csrfToken)
                                    input.btn.btn-primary(type='submit' value='수락')
                                form(method='post' action=`/social/requests/${e.sender_id}?_method=DELETE`)
                                    input(type='hidden' name='_csrf' value=csrfToken)
                                    input.btn.btn-primary(type='submit' value='거절')
                            br
                            | #{e.req_time}
                        
            h2.mb-2
                |보낸 요청 (#{counts.sent})
            h5.mb-4
                .list-group-item
                    each e in reqsent
                        div.mb-4
                            | #{e.receiver_id}(#{e.receiver_nick})
                            .float-right
                                a.btn.btn-primary.mr-2.ml-5(href=`/social/cancel/${e.receiver_id}`) 취소
                                //- need to change get --> delete
                            br
                            | #{e.req_time}
            h2.mb-2
                |친구 목록 (#{counts.friends})
            h5.mb-4
                .list-group-item
                    each e in friendlist
                        div.mb-4
                            | #{e.id}(#{e.nick})
                            a.btn.btn-primary.ml-5.float-right(href=`/social/delete/${e.id}`) 삭제
                            //- need to change get --> delete
                            br
                            | #{e.friend_date}
            h2.mb-2
                |차단 목록 (#{counts.blacks})
            h5.mb-4
                .list-group-item
                    each e in blacklist
                        div.mb-4
                            | #{e.id}(#{e.nick}) 
                            a.btn.btn-primary.ml-5.float-right(href=`/social/unblack/${e.id}`) 삭제
                            //- need to change get --> delete
                            br
                            | #{e.black_date}
                            br